[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[package]
name = "down_on_spot"
version = "0.2.6"
edition = "2021"
authors = ["exttex", "oSumAtrIX"]
build = "build.rs"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[dependencies]
clap = "4.2.1"
log = "0.4"
url = "2.2"
protobuf = "3.1"
id3 = "1.3"
dirs = "5.0.0"
chrono = "0.4"
lewton = "0.10"
futures = "0.3"
reqwest = "0.11"
colored = "2"
lame = "0.1"
aspotify = "0.7.1"
librespot = { git = "ssh://git@github.com/oSumAtrIX/free-librespot.git" }
async-std = { version = "1.12", features = ["attributes", "tokio1"] }
serde_json = "1.0"
async-stream = "0.3"
oggvorbismeta = "0.1"
sanitize-filename = "0.5.0"
serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.20", features = ["fs"] }
env_logger = "0.11.1"

[package.metadata.winres]
OriginalFilename = "DownOnSpot.exe"
FileDescription = "Download songs from Spotify with Rust"
ProductName = "DownOnSpot"
ProductVersion = "0.2.4"
